<!-- Side navigation -->
<div class="sidenav">
    <!-- <a href="#">Students</a> -->
    <a routerLink="/adminmodule" routerLinkActive="active">Dashboard</a>
    <a routerLink="/students" routerLinkActive="active">Students</a>
    <a routerLink="/add" routerLinkActive="active">Admission</a>
    <a href="#">Academics</a>
    <a href="#">Settings</a>
    <a routerLink="/welcome" routerLinkActive="active">Logout</a>
  </div>
  
  <!-- Page content -->
  <div class="main">
    <h3>Admin Dashboard</h3>
    <hr>
    <h5>Welcome Admin!</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Placeat vel enim minima sapiente repudiandae quos eum corporis doloremque 
      dignissimos quam dolorum, minus officiis laborum voluptatum. Vero facilis 
      ipsam nesciunt voluptatem!
    </p>
    </div>
